* {

}

html {
    width: 100%;
    max-height: 100%;
    background-image: url("../img/blur.jpg");
} 

body{
    margin:auto;
    width:100%;
    font-family: 'Helvetica', sans-serif;
}

#input_message {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 2.5em;
    color: #fff;
}

#input_circles {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2,5%;
    font-size: 2.5em;
    color: #fff;
}

#input_circles ul {
    -webkit-padding-start: 0px;
}

#input_circles li{
    margin-left: 5%;
    margin-right: 5%;
    position:relative;
    display:inline-block;
}

.number {
    border-radius: 50%;
    width: 275px;
    height: 275px;
    text-align:center;
    background-color : transparent;
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    outline: none;
    border-color: #CCFFFF;
    color: #fff;
}

.number:active {
    background-color: #E0FFFF;

}

#successMsg{
    color: #FFF;
    font-size: 2em;
    font-family: 'Helvetica', sans-serif;
}

#backspace{
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    outline: none;
    border-style: none;
    color: #FFF;
    background-color: transparent;
    padding-top: 20%;
}

#backspace:active{
    color: #A6A6A6;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    text-align: center;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}